.navbar {
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
  flex-wrap: wrap;
  background: #fff;
  max-width: 100vw;
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: 0.5s;

  .container {
    width: 100%;
    flex-basis: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    .nav-brand {
      a {
        min-height: 44px;
        min-width: 44px;
        display: flex;
        align-items: center;
      }

      img {
        width: 140px !important;
        height: 100%;
      }
    }

    .nav-toggle {
      button {
        min-width: 44px;
        min-height: 44px;
        outline: none;
        border: none;
        background: transparent;
        font-size: 1.2rem;

        &:focus {
          border: 1px solid #f2c00a;
        }
      }
    }

    .nav-link {
      width: 100%;
      display: flex;
      margin-top: 1rem;
      flex-wrap: wrap;
      text-decoration: none;

      a {
        min-width: 44px;
        min-height: 44px;
        width: 100%;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        color: black;
      }
    }

    .d-none {
      display: none;
    }
  }
}
