.restaurants {
  padding: 0 1.5rem;
  margin: 2.5rem auto;
  width: 100%;

  .tagline {
    width: 100%;

    h2 {
      font-size: 1.2rem;
    }
  }

  .restaurants-list {
    width: 100%;

    .card {
      margin: 2rem 0;
      width: 100%;
      border-radius: 0 0 0.5rem 0.5rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      max-height: 23rem;

      .card-image {
        width: 100%;
        height: 12rem;
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0 0;

        img {
          width: 100%;
          opacity: 0.9;
          height: auto;
          max-width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) scale(1.5);
          -moz-transform: translate(-50%, -50%) scale(1.5);
          -o-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);

          &:hover {
            transition: 0.1s;
            opacity: 1;
          }
        }
      }

      .card-detail {
        margin: 1rem 0.7rem;

        .restaurants-name {
          display: flex;
          align-items: center;
          min-height: 44px;
          min-width: 44px;
          font-size: 1.3rem;
          font-weight: 500;
          color: #000000;
        }

        .restaurants-info {
          padding-bottom: 1rem;
          margin: 0.5rem 0;
          color: #6b7280;

          .rate {
            display: flex;
            height: 1.5rem;
            align-items: center;
            .star {
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 0.5rem;
              fill: #f2c00a;
            }
          }

          .rating {
            margin-right: 0.3rem;
          }

          .city {
            margin-left: 0.3rem;
          }
          .description {
            line-height: 1.3rem;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.9rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            width: 100%;
          }
        }
      }
    }
  }

  #favorite {
    &::after {
      display: none;
      content: '';
      flex: auto;
    }
  }
}
