/*
 * sm - Mobile Landscape
 */
@media (min-width: 640px) {
  header .heroes {
    justify-content: center;
    text-align: center;

    h1 {
      width: 100%;
    }
  }

  main .restaurants .restaurants-list {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-flow: row wrap;

    .card {
      width: 47%;
      margin: 1rem 0;

      .card-detail .restaurants-info {
        padding-bottom: 0.1rem;
      }
    }
  }

  main .restaurant_detail {
    img {
      height: 80vh;
    }

    .information {
      padding: 0 3rem;
    }

    .description {
      padding: 0 3rem;
    }

    .menus {
      padding: 0 3rem;
    }
  }

  main .reviews {
    padding: 0 3rem;
  }
}

/*
   * md - Tablet
   */
@media (min-width: 768px) {
  header {
    .navbar {
      padding: 1rem;

      .container {
        flex-basis: 0;
        margin-left: 0;

        .nav-brand {
          height: 100%;
          display: flex;
          align-items: center;
          margin: 0 3rem;

          img {
            width: 8rem;
          }
        }

        .nav-toggle {
          display: none;
        }

        .nav-link {
          margin-top: 0;
          flex-wrap: nowrap;
          height: 100%;

          a {
            margin-right: 2rem;
          }
        }

        .d-none {
          display: flex;
        }
      }

      .menu {
        margin: 0 3rem;
      }
    }
  }

  main .restaurants {
    padding: 0 4rem;
  }

  main .restaurant_detail {
    img {
      padding: 0 3rem;
      height: 20rem;
    }
  }
}

/*
   * lg - Laptop / Desktop 
   */
@media (min-width: 1024px) {
  header .navbar .container {
    .nav-brand {
      margin: 0 6rem;
    }

    .nav-link {
      margin-right: 2rem;
    }
  }

  header .heroes {
    padding: 10rem 0;
  }

  main .restaurants {
    padding: 0 7rem;

    .restaurants-list {
      .card {
        width: 23.5%;
        margin: 1rem 0;
      }
    }
  }

  main .restaurant_detail {
    .container-information {
      margin: 2rem 6rem;
      justify-content: space-between;
      display: flex;
      align-items: center;

      .image {
        width: 100%;
        flex-basis: 60%;

        img {
          padding: 0;
          border-radius: 0.5rem;
        }
      }

      .information {
        width: 100%;
        flex-basis: 35%;
      }
    }

    .description {
      margin: 2rem 3rem;

      p {
        line-height: 1.5rem;
      }
    }

    .menus {
      margin: 2rem 3rem;

      .category-container {
        display: flex;
        justify-content: space-between;

        .category {
          width: 100%;
          flex-basis: 47%;
        }
      }
    }
  }

  main .reviews {
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem;

    .review_list {
      width: 100%;
      flex-basis: 47%;
    }

    .add_review {
      width: 100%;
      flex-basis: 47%;
    }
  }
}
