.skip-link {
  display: flex;
  align-items: center;
  min-height: 44px;
  min-width: 44px;
  position: absolute;
  top: -44px;
  left: 0;
  background-color: #f2c00a;
  color: #fff;
  padding: 0.5rem;
  z-index: 100;

  &:focus {
    top: 0;
  }
}
