/*
 * default - Mobile Portrait 
 */
* {
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.skip-link {
  position: absolute;
  top: -44px;
  left: 0;
  background-color: #f2c00a;
  color: #fff;
  padding: 0.5rem;
  z-index: 100;

  &:focus {
    top: 0;
  }
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
  flex-wrap: wrap;
  background: #fff;
  max-width: 100vw;
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: 0.5s;

  .container {
    width: 100%;
    flex-basis: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    .nav-brand {
      a {
        min-height: 44px;
        min-width: 44px;
        display: flex;
        align-items: center;
      }

      img {
        width: 140px !important;
        height: 100%;
      }
    }

    .nav-toggle {
      button {
        min-width: 44px;
        min-height: 44px;
        outline: none;
        border: none;
        background: transparent;
        font-size: 1.2rem;

        &:focus {
          border: 1px solid #f2c00a;
        }
      }
    }

    .nav-link {
      width: 100%;
      display: flex;
      margin-top: 1rem;
      flex-wrap: wrap;
      text-decoration: none;

      a {
        min-width: 44px;
        min-height: 44px;
        width: 100%;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        color: black;
      }
    }

    .d-none {
      display: none;
    }
  }
}

.heroes {
  background: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url('/images/heros/hero-image_4.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 5rem 2rem;
  flex-wrap: wrap;
  color: #fff;

  h1 {
    color: w;
    font-size: 1.7rem;
    font-weight: 700;
  }

  .main-button {
    min-height: 44px;
    min-width: 44px;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    background: #f2c00a;
    color: #000000;

    &:hover {
      color: #fff;
    }
  }
}

.restaurants {
  padding: 0 1.5rem;
  margin: 2.5rem auto;
  width: 100%;

  .tagline {
    width: 100%;

    h2 {
      font-size: 1.2rem;
    }
  }

  .restaurants-list {
    width: 100%;

    .card {
      margin: 2rem 0;
      width: 100%;
      border-radius: 0 0 0.5rem 0.5rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      max-height: 23rem;

      .card-image {
        width: 100%;
        height: 12rem;
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0 0;

        img {
          width: 100%;
          opacity: 0.9;
          height: auto;
          max-width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) scale(1.5);
          -moz-transform: translate(-50%, -50%) scale(1.5);
          -o-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);

          &:hover {
            transition: 0.1s;
            opacity: 1;
          }
        }
      }

      .card-detail {
        margin: 1rem 0.7rem;

        .restaurants-name {
          display: flex;
          align-items: center;
          min-height: 44px;
          min-width: 44px;
          font-size: 1.3rem;
          font-weight: 500;
          color: #000000;
        }

        .restaurants-info {
          padding-bottom: 1rem;
          margin: 0.5rem 0;
          color: #6b7280;

          .rate {
            display: flex;
            height: 1.5rem;
            align-items: center;
            .star {
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 0.5rem;
              fill: #f2c00a;
            }
          }

          .rating {
            margin-right: 0.3rem;
          }

          .city {
            margin-left: 0.3rem;
          }
          .description {
            line-height: 1.3rem;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.9rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            width: 100%;
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
  padding: 1rem 0;
  font-size: 0.9rem;

  .heart {
    stroke: #ef4444;
    width: 1.5rem;
    height: 1.5rem;
    margin: auto 0.2rem;
  }

  .footer-name {
    color: #111827;
    font-weight: 600;
    padding-left: 0.2rem;

    &:hover {
      color: #6b7280;
    }
  }
}

/*
 * sm - Mobile Landscape
 */
@media (min-width: 640px) {
  header .heroes {
    justify-content: center;
    text-align: center;

    h1 {
      width: 100%;
    }
  }

  main .restaurants .restaurants-list {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-flow: row wrap;

    &::after {
      content: '';
      flex: auto;
    }

    .card {
      width: 47%;
      margin: 1rem 0;

      .card-detail .restaurants-info {
        padding-bottom: 0.1rem;
      }
    }
  }
}

/*
 * md - Tablet
 */
@media (min-width: 768px) {
  header {
    .navbar {
      padding: 1rem;

      .container {
        flex-basis: 0;
        margin-left: 0;

        .nav-brand {
          height: 100%;
          display: flex;
          align-items: center;
          margin: 0 3rem;

          img {
            width: 8rem;
          }
        }

        .nav-toggle {
          display: none;
        }

        .nav-link {
          margin-top: 0;
          flex-wrap: nowrap;
          height: 100%;

          a {
            margin-right: 2rem;
          }
        }

        .d-none {
          display: flex;
        }
      }

      .menu {
        margin: 0 3rem;
      }
    }
  }

  main .restaurants {
    padding: 0 4rem;
  }
}

/*
 * lg - Laptop / Desktop 
 */
@media (min-width: 1024px) {
  header .navbar .container {
    .nav-brand {
      margin: 0 6rem;
    }

    .nav-link {
      margin-right: 2rem;
    }
  }

  header .heroes {
    padding: 10rem 0;
  }

  main .restaurants {
    padding: 0 7rem;

    .restaurants-list {
      .card {
        width: 23.5%;
        margin: 1rem 0;
      }
    }
  }
}
