@import './skip-link';
@import './navbar';
@import './heroes';
@import './restaurants';
@import './restaurant-detail';
@import './footer';
@import './responsive';
@import './skeleton';

/*
 * default - Mobile Portrait 
 */
* {
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}
